<div class="box box-forum">
  <%= link_to forum.name, forum, class: "title" %>
  <div class="content">
    <% if topic = forum.topics.ordered.first %>
      <div class="box box-topic-count">
        <em><%= pluralize(forum.topics.count, "Topic") %></em>
      </div>
      <div class="box box-last-post">
        <% if post = topic.posts.last %>
          <%= link_to "Last Post", topic.posts.last %> by <%= link_to topic.posts.last.user.name, topic.posts.last.user %>,
        <% else %>
          <%= link_to "Last Post", topic %> by <%= link_to topic.user.name, topic.user %>,
        <% end %>
        <%= distance_of_time_in_words_to_now topic.last_post_created_at %> ago
      </div>
    <% end %>
  </div>
</div>
