<div class="container">
  <div class="row">
    <%= column_do do %>
      <h1>Global Application Settings</h1>

      <table class="table table-hover" id="settings">
        <thead>
          <th>Name</th>
          <th>Description</th>
          <th>Value</th>
          <th>Type</th>
          <th>Save</th>
        </thead>
        <tbody>
          <% @settings.each do |s| %>
            <tr data-id="<%= s.id %>">
              <%= form_for [:admin, s], remote: true do |t| %>
                <td><%= s.name %></td>
                <td><%= s.description %></td>
                <td><%= t.text_field :value %></td>
                <td><%= s.setting_type %></td>
                <td><%= t.submit %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
