<div class="container-fluid">
  <div class="row">
    <%= column_do do %>
      <%= render 'shared/breadcrumbs', links: [
        { name: "Forum", url: root_path },
        { name: @category.name, url: @category },
      ] %>
    <% end %>
  </div>
  <div class="row">
    <%= column_do do %>
      <div class="well"><%= @category.name %></div>
      <%= render @category.forums %>
    <% end %>
  </div>
</div>
