<div class="box box-post" id="topic_<%= @topic.id %>">
  <div class="title">
    <%= image_tag @topic.user.avatar.url(:thumb), class: "avatar" %>
    <%= link_to @topic.user.name, @topic.user %>, <%= distance_of_time_in_words_to_now @topic.created_at %> ago
    <span class="pull-right btn-group" role="group" aria-label="actions">
      <%= render 'shared/edit_button', model: @topic %>
      <%= render 'shared/lock_button', model: @topic %>
      <%= render 'shared/pin_button', model: @topic %>
      <%= render 'shared/destroy_button', model: @topic %>
    </span>
  </div>
  <div class="content">
    <%= raw @topic.content.bbcode_to_html %>
  </div>
</div>
