<%= form_for [@forum, @topic], remote: (defined? remote ? true : false)do |t|  %>
  <div class="form-group">
    <%= t.label :name %>
    <%= t.text_field :name, class: "form-control" %>
    <%= render 'shared/forms/errors_for', model: @topic, field: :name %>
  </div>
  <div class="form-group">
    <%= t.label :content %>
    <%= t.text_area :content, class: "form-control", rows: 10 %>
    <%= render 'shared/forms/errors_for', model: @topic, field: :content %>
  </div>
  <%= t.submit class: "btn btn-primary" %>
<% end %>
