<div class="container-fluid">
  <div class="row">
    <%= column_do do %>
      <%= render 'shared/breadcrumbs', links: [
        { name: "Forum", url: root_path },
        { name: @topic.forum.dashboard_category.name, url: @topic.forum.dashboard_category },
        { name: @topic.forum.name, url: @topic.forum },
        { name: @topic.name, url: @topic },
      ] %>
  <% end %>
  </div>
  <div class="row">
    <%= column_do do %>
      <h1>
        <%= @topic.name %>
        <% if @topic.closed_at %>
          <i class="glyphicon glyphicon-lock"></i>
        <% end %>
        <% if @topic.pinned_at %>
          <i class="glyphicon glyphicon-pushpin"></i>
        <% end %>
      </h1>
      <div class="box box-default box-alone">
        <div class="content">
          <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
          <%= page_entries_info @posts %>
        </div>
      </div>
      <div class="posts">
        <%= render "topics/first_post" %>
        <%= render @posts.order :id %>
      </div>
      <div class="box box-default">
        <div class="content">
          <% if policy(@topic.posts.new).create? %>
            <%= link_to "New Reply", new_topic_post_path(@topic), class: "btn btn-create" %>
          <% end %>

          <div>
            <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
            <%= page_entries_info @posts %>
          </div>
        </div>
      </div>

      <% if policy(@topic.posts.new).create? %>
        <div class="box box-default">
          <div class="content">
            <%= render partial: 'posts/new_form', locals: {remote: true} %>
          </div>
        </div>
      <% else %>
        <p class="text-warning">
        You cannot reply to this Topic, it may be locked or you are not
        signed in.
        </p>
      <% end %>
    <% end %>
  </div>
</div>
