<div class="container">
  <div class="row">
    <%= column_do do %>
      <%= render 'shared/breadcrumbs', links: [
        { name: "Forum", url: root_path },
        { name: @topic.forum.dashboard_category.name, url: @topic.forum.dashboard_category },
        { name: @topic.forum.name, url: @topic.forum },
        { name: @topic.name, url: @topic },
      ] %>
    <% end %>
  </div>
  <div class="row">
    <%= column_do do %>
      <h1>
        <%= @topic.name %>
      </h1>
      <div class="well">
        <div>
          <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
        </div>
      </div>
      <div class="posts">
        <%= render "topics/first_post" %>
        <%= render @posts.order :id %>
      </div>
      <div class="well">
        <% if policy(@topic.posts.new).create? %>
          <%= link_to "New Reply", new_topic_post_path(@topic), class: "btn btn-info" %>
        <% end %>

        <div>
          <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
          <%= page_entries_info @posts %>
        </div>
      </div>

      <div class="well">
        <%= render partial: 'posts/new_form', locals: {remote: true} %>
      </div>
    <% end %>
  </div>
</div>
