<div class="container-fluid">
  <div class="jumbotron">
    <div class="container">
      <h2>Welcome to the <strong>Wyvern Rocks</strong></h2>
      <p>
        We are a friendly community with one thing in mind, having fun!
      </p>
    </div>
  </div>
  <div class="row">
    <%= column_do columns: 8 do %>
      <%= render @categories %>
    <% end%>
    <%= column_do columns: 3, offset: 1 do %>
      <div class="well latest">
        <strong>Latest Blog Posts</strong>
        <ol>
          <% policy_scope(BlogPost).where(published: true).each do |bp| %>
            <li>
              <%= link_to bp.name, [bp.blog, bp] %>
              <em> by <%= bp.user.name %></em>
            </li>
          <% end %>
        </ol>
      </div>
    <% end %>
  </div>
</div>
