<%= form_for @post.path_variables, remote: @post.persisted? || !!(defined? remote) do |t|  %>
  <div class="form-group">
    <%= t.label :content %>
    <%= t.cktext_area :content, class: "form-control", rows: 10 %>
    <%= render 'shared/forms/errors_for', model: @post, field: :content %>
  </div>
  <%= t.submit class: "btn btn-primary" %>
  <% if @post.persisted? %>
    <%= t.submit 'Cancel', class: 'btn btn-warning cancel' %>
  <% end %>
<% end %>
