<div class="well" id="post_<%= post.id %>">
  <%= link_to post.user.name, post.user %>, <%= distance_of_time_in_words_to_now post.created_at %> ago
  <span class="pull-right">
    <% if policy(post).edit? %>
      <%= link_to "Edit", edit_forum_topic_post_path(post.topic.forum, post.topic, post), remote: true %>
    <% end %>
  </span>
  <hr>
  <div class="content">
    <%= raw post.content.bbcode_to_html_with_formatting %>
  </div>
</div>
